.contacts {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  & .contacts__form {
    display: flex;
    margin-bottom: 20px;
    & .contacts__search-input {
      margin-right: 10px;
    }
  }
  
  & .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & .contacts__card {
      width: calc(50% - 10px);
      margin-bottom: 20px;
    }
  }
}

h1 {
  font-weight: 400;
  font-size: 50px;
}